@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body {
    background-color: black;
}

.main {
    height: 75vh;
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main .box {
    height: 75vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.65;
}

.nav img {
    width: 114px;
    position: relative;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    max-width: 60vw;
    margin: auto;
    padding: 5px;
}

.nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 72px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    /* z-index: 10; */
    gap: 10px;
    padding: 0px 30px;

}

.hero> :nth-child(1) {
    font-family: system-ui;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 700;
    font-size: 24px;
    text-align: center;

}

.hero> :nth-child(3) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.seperate {
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.btn {
    /* color: white; */
    border: none;
    border-radius: 3px;
    color: white;
}

.redbtn-sn {
    background-color: red;
    /* color: white; */
    padding: 8px;
    font-weight: bold;
}

.redbtn-gs {
    background-color: red;
    /* color: white; */
    padding: 8px 23px;
    font-size: 20px;
    font-weight: 600;

}

.lang {
    border: 1px solid white;
    padding: 7px 10px;
    background-color: rgba(23, 23, 23, 0.4);
    font-weight: bold;
}

.main input {
    /* padding: 11px 23px; */
    padding: 11px 90px 11px 15px;
    font-size: 13px;
    background-color: rgba(23, 23, 23, 0.4);
    border: 1px solid white;
    border-radius: 3px;
    font-weight: 600;
}

.hero> :nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    height: 70vh;
}

.secimg {
    position: relative;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

.img {
    width: 556px;
    position: relative;
    z-index: 10;
}

.vd {
    position: absolute;
    top: 51px;
    right: 1px;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    padding: 10px;
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions{
    padding: 34px 0;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}
@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}